div,ul,li,a,img,p,h3{
	margin:0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	background-color: #eee;
}
.ct-waterfall{
	
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.ct {
	position: relative;
	margin:0 auto;
}
.item{
	width: 200px;
	position: absolute;
	background: #fff;
    padding: 16px 20px;
    box-shadow: 0 1px 3px rgba(34,25,25,.4);
    margin-bottom: 16px;
    transition: all .8s;
}

.item img{
	width: 200px;
}
.load{
	visibility: hidden;
}