body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
ul,li,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #656565;
}
li {
    float: left;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.container:after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

#header {
    height: 57px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
.nav {
    float: right;
    margin-top: -10px;
}
.nav > li {
    margin-right: 15px;
}
.nav a {
    display: block;
    color: #fff;
    font-size: 24px;
    padding: 0 10px;
    line-height: 3.208333333;
    height: 77px;
}
.nav a:hover {
    background-color: #fff;
    color: #333;
}
#content {
    margin-top: 10px;
}
#content .main {
    padding: 20px 20px;
    margin-left: 210px;
}
.main h1 {
    margin: 20px 0;
}
.main p {
    margin: 0.3em;
}
#content .aside {
    width: 200px;
    height: 700px;
    float: left;
}
#footer {
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}
#footer a {
    display: block;
    color: #fff;
    padding: 0 10px;
}
