.mod-tab {
    border: 1px solid #ccc;
}
.mod-tab * {
    box-sizing: border-box;
}
.mod-tab ul,
.mod-tab li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.mod-tab .tabs:after {
    content: '';
    height: 0;
    display: table;
    clear: both;
}
.mod-tab .tabs li {
    float: left;
    width: 33.3%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}
.mod-tab .tabs li:last-child {
    border-right: none;
}
.mod-tab .tabs .active {
    background: #eee;
}
.mod-tab .panel {
    display: none;
    height: 180px;
    padding: 20px;
}
.mod-tab .active {
    display: block;
}

/*  -------------------------------- */
.modal-dialog {
    display: none;
}
.modal-dialog .bt {
    display: inline-block;
    padding: 3px 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}
.modal-dialog a {
    text-decoration: none;
    color: #333;
}
.modal-dialog .cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.4;
    z-index: 99;
}
.modal-dialog .modal-ct {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 3px;
    background: #fff;
    z-index: 100;
}
.modal-dialog .modal-ct .header {
    position: relative;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #ccc;
}
.modal-dialog .modal-ct .header h3 {
    margin: 0;
    padding-left: 10px;
    font-size: 16px;
}
.modal-dialog .modal-ct .header .close {
    position: absolute;
    right: 10px;
    top: 10px;
    line-height: 1;
}
.modal-dialog .modal-ct .content {
    padding: 10px;
}
.modal-dialog .modal-ct .footer {
    padding: 10px;
    border-top: 1px solid #eee;
}
.modal-dialog .modal-ct .footer:after {
    content: '';
    display: table;
    clear: both;
}
.modal-dialog .modal-ct .footer .btn {
    float: right;
    margin-left: 10px;
}

