
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1466302906'); /* IE9*/
  src: url('iconfont.eot?t=1466302906#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1466302906') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1466302906') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1466302906#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-kuaijin:before { content: "\e62e"; }
.icon-play:before { content: "\e6bb"; }
.icon-tingzhi-copy:before { content: "\e602"; }
