html, body, p, ul, li, h1, h2, h3, h4, a, i, img, input, textarea, button {
  margin: 0;
  padding: 0;
}
body {
  font: 14px/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
li {
  list-style: none;
}
html, body {
  height: 100%;
}
/*组件*/
.container {
  width: 1170px;
  margin: 0 auto;
  text-align: center;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.btn {
  cursor: pointer;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 4px;
  background-color: #fed136;
  border: none;
  outline: none;
}
.btn:hover {
  background-color: #fec503;
}
.fa-yellow {
  color: #fec503;
}
/*matte-icon*/
.matte-icon > li {
  display: inline-block;
  padding: 5px 7px;
}
.matte-icon > li a {
  background-color: black;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  font-size: 22px;
}
.matte-icon > li a:hover {
  background-color: rgba(254,209,54,1);
  transition-property: background-color;
    transition-duration: 0.3s;
}
/*matte-icon*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {  /* WebKit browsers */
    font-weight: bold;
    font-size: 1.2em;
}
input:-moz-placeholder,
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-weight: bold;
    font-size: 1.2em;
}
input::-moz-placeholder,
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-weight: bold;
    font-size: 1.2em;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-weight: bold;
    font-size: 1.2em;
}
/*header*/
#header {
  /* height: 100%; */
  /* background: url(img/实战3/header-bg.jpg) no-repeat center center; */
  /* background-size: cover; */
}
/*header head*/
#header .head {
  padding: 10px 0;
}
#header .head .logo {
  float: left;
}
#header .head .logo a {
  color: #fec503;
  height: 64px;
  line-height: 64px;
}
#header .head .nav-order {
  float: right;
}
#header .head .nav-order > li {
  float: left;
  padding: 0 0 0 15px;
}
#header .head .nav-order > li a {
  height: 64px;
  line-height: 64px;
  color: #fff;
  font-size: 1.2em;
}
#header .head .nav-order > li a:hover {
  color: #fec503;
}
/*header title*/
#header .title {
  height: 100%;
  line-height: 2;
  color: #fff;
  /*padding: 160px 0;*/ /* 不要用padding，用table-cell垂直*/
}
#header .title h2 {
  font-style: italic;
  font-size: 2.6em;
}
#header .title h1 {
  font-size: 5.5em;
}
/*content*/
/*content services*/
#header .table {
  display: table;
  height: 100%;
}
#header .centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#content .services {
  padding: 75px 0 25px 0;
}
#content .services h1 {
  font-size: 3em;
}
#content .services h1, h3 {
  line-height: 2;
}
#content .services-order > li {
  width: 300px;
  float: left;
  margin-left: 135px;
}
#content .services-order {
  margin-left: -135px;
  padding: 50px 0;
}
/*content portfolio*/
#content .portfolio {
  background-color: #f7f7f7;
  padding: 75px 0 25px 0;
}
#content .portfolio h1 {
  font-size: 38px;
}
#content .portfolio h1 + p {
  word-spacing: 4px;
}
#content .portfolio-order {
  padding: 12px 0 50px 0;
  margin-left: -45px;
}
#content .portfolio-order img {
  width: 360px;
  height: 260px;
}
#content .portfolio-order > li {
  width: 360px;
  float: left;
  margin-left: 45px;
  padding: 25px 0;
}
#content .design {
  /*margin-top: -4px;*/
  background-color: #fff;
  padding: 0 0 20px 0;
}
#content .design p {
  color: #aaa;
}
#content .design h3 {
  font-size: 22px;
}
#content .portfolio-order > li a {
  position: relative;
  display: block;
}
#content .portfolio-order > li a img {
  display: block;
  width: 100%;
}
#content .portfolio-hover:hover {
    background: rgba(254,209,54,0.8);
  transition-property: background-color;
    transition-duration: 0.3s;
    opacity: 1;
}
#content .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  #content .portfolio-content {
    text-align: center;
    width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -1.5em;
  color: #fff;
  }
  /*#content .portfolio-order a:hover {
  background-color: rgba(254,209,54,0.8);
  transition-property: background-color;
    transition-duration: 0.3s;
    opacity: 1;
}*/
/*#content .matte {
  background-color: transparent;
  position: absolute;
  width: 360px;
  height: 260px;
  opacity: 0;
}
#content .matte i {
  color: #fff;
  line-height: 260px;
}*/    /*这是之前做的，没加hover的div用line-height做的居中*/
/*content about*/
#content .about {
  padding: 100px 0;
}
#content .about .container > h1 {
  font-size: 36px;
}
#content .about .container > p {
  font-style: italic;
  word-spacing: 4px;
  color: #aaa;
}
#content .about-order {
  margin-top: 50px;
  position: relative;
}
#content .about-order:before {
  content: "";
  width: 2px;
  display: block;
  background-color: #f1f1f1;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
  bottom: 0;
}
#content .about-order > li {
  position: relative;
  margin-bottom: 100px;
  min-height: 170px;
}
#content .about-order > li:nth-child(5) {
  margin-bottom: 0;
}
#content .about-order > li:after {
  content: "";
  display: block;
  clear: both;
}
#content .about-order > li:nth-child(1),
#content .about-order > li:nth-child(3) {
  padding-right: 275px;
    padding-left: 100px;
}
#content .about-order > li:nth-child(2),
#content .about-order > li:nth-child(4) {
  padding-left: 275px;
    padding-right: 100px;
}
#content .description {
  width: 41%;
}
#content .image {
  width: 170px;
  height: 170px;
  border: 7px solid #f1f1f1;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  box-sizing: border-box;
}
#content .image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
#content .last {
  width: 170px;
  height: 170px;
  border: 7px solid #f1f1f1;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  margin-left: -85px;
  background-color: #fed136;
  text-align: center;
  box-sizing: border-box;
}
#content .last h4 {
  color: #fff;
  line-height: 1.5;
  font-size: 24px;
  margin-top: 25px;
}
.left {
  float: left;
  text-align: right;
}
.right {
  float: right;
  text-align: left;
}
/*content team*/
#content .team {
  background-color: #f7f7f7;
  padding: 100px 0;
}
#content .container > h1 {
  font-size: 32px;
}
#content .container > p:first-of-type {
  font-style: italic;
  word-spacing: 4px;
  padding: 0 0 50px 0;
}
#content .container > p {
  color: #aaa;
  padding: 50px 0 0 0;
}
#content .team-order {
}
#content .team-order > li {
  float: left;
  box-sizing: border-box;
  width: 240px;
  margin-left: 112px;
}
#content .team-order > li img {
  border: 7px solid #fff;
  border-radius: 100%;
}
/*#content .team-order > li a {
  background-color: black;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  font-size: 22px;
}
#content .team-order > li a:hover {
  background-color: rgba(254,209,54,1);
  transition-property: background-color;
    transition-duration: 0.6s;
}*/

/*content clients*/
#content .clients {
  padding: 50px 0;
}
#content .clients-order {
  padding: 0 50px;
}
#content .clients-order > li {
  float: left;
  margin-left: 67px;
}
/*content contact*/
#content .contact {
  padding: 50px 0 100px 0;
  background-color: black;
  background-image: url(../img/实战3/map-image.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#content .contact h1 {
  color: #fff;
}
#content .from .information-order,
#content .from .message {
  float: left;
  border-radius: 4px;
  width: 50%;
  padding: 5px 10px;
  box-sizing: border-box;
}
#content .from .information-order >li {
  width: 100%;
  padding: 0 0 27px 0;
}
#content .from .information-order >li:last-child {
  padding-bottom: 0;
}
#content .from .information-order >li input {
  width: 100%;
  padding: 10px 0px 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  height: 60px;
}
#content .from .message textarea {
  width: 100%;
  padding: 10px 0px 10px 10px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  height: 240px;
}
#content .from button {
  margin-top: 25px;
}
/*footer*/
#footer {
  padding: 25px 0;
}
#footer .foot > li:nth-of-type(1) {
  float: left;
  margin-left: 25px;
  width: 300px;
  padding: 10px 0;
}
#footer .foot > li:nth-of-type(3) {
  width:
}
#footer .foot > li:nth-of-type(2) {
  float: right;
  margin-right: 25px;
  width: 300px;
  padding: 10px 0;
}
#footer .foot > li:nth-of-type(2) a {
  padding: 0 10px;
  color: #fed136;
}
