body,html{
    margin:0;
    padding:0;
}
#header{
    height:48px;
    background:#cccccc;
}
#content{
    zoom:1;
}
#content:after{
    content:"";
    display:block;
    clear:both;
}
#content .aside{
    width:200px;
    float:left;
    background:pink;
}
#content .main{
    background:yellow;
    overflow:hidden;
}
#footer{
    height:48px;
    background:#cccccc;
}