.box1,.box2,.box3{
    width:200px;
    height:100px;
    border:1px solid;
}
.triangle-1{
    width:0;
    border-bottom:15px solid rgb(0,0,0);
    border-left:15px solid rgba(0,0,0,0);
    border-right:15px solid rgba(0,0,0,0);
    position:relative;
    left:10px;
}
.box2{
    margin:100px 0;
    position:relative;
}
.triangle-2{
    width:0;
    border-bottom:15px solid rgba(0,0,0,0);
    border-right:15px solid rgb(255,0,0);
    position:absolute;
    right:0;
}
.triangle-3{
    width:0;
    border-bottom:15px solid rgb(255,255,255);
    border-left:15px solid rgba(0,0,0,0);
    border-right:15px solid rgba(0,0,0,0);
    position:relative;
    top:16px;
    left:10px;
    z-index:1;
}