 @font-face {font-family: "iconfont";
        src: url('iconfont.eot?t=1466676159'); /* IE9*/
        src: url('iconfont.eot?t=1466676159#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('iconfont.woff?t=1466676159') format('woff'), /* chrome, firefox */
        url('iconfont.ttf?t=1466676159') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
        url('iconfont.svg?t=1466676159#iconfont') format('svg'); /* iOS 4.1- */
    }
        
 
        .icon-jiantou:before {
            content: "\e652"; 
            font-family:"iconfont";
            font-size:20px;
            font-style:normal;
        }
        .icon-zhuye:before { 
            content: "\e62a"; 
            font-family:"iconfont";
            font-size:20px;
            font-style:normal;
        }
       
        .icon-xieboke:before { 
            content: "\e6fa";
            font-family:"iconfont";
            font-size:16px;
            font-style:normal; 
        }
        .icon-xiangmu:before {
            content: "\e615";
            font-family:"iconfont";
            font-size:20px;
            font-style:normal; 
        }
        .icon-wo:before { 
            content: "\e655";
            font-family:"iconfont";
            font-size:20px;
            font-style:normal; 
        }
        .icon-xiexian:before {

            content: "\e672";
            font-family:"iconfont";
            font-size:20px;
            font-style:normal; 
          }  