
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1468594557'); /* IE9*/
  src: url('iconfont.eot?t=1468594557#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1468594557') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1468594557') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1468594557#iconfont') format('svg'); /* iOS 4.1- */
}
#skills i {
  font-size:200px;
}
#footer i {
  font-size:40px;
}
.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-html:before { content: "\e6c6"; }
.icon-css:before { content: "\e844"; }
.icon-languagejavascript:before { content: "\e913"; }
.icon-github:before { content: "\e66c"; }
.icon-xinlangweibo:before { content: "\e657"; }
.icon-boke:before { content: "\e618"; }
