/*模块化*/
#header {
  height: 100%;
  position: relative;
}
.carousel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}
.carousel .img-ct {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.carousel .items {
  float: left;
  width: 1445px;
  height: 100%;
  /* background: url(http://b.zol-img.com.cn/desk/bizhi/image/4/960x600/1384835088908.jpg); */
  background-size: cover;

}
#header .head {

}
.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  /*height: 30px;*/
  /*margin-top: -15px;*/
  /*line-height: 30px;*/
  text-align: center;
  background-color: #ccc;
  color: #fff;
  /*border-radius: 30px;*/
  opacity: 0.3;
}
.pre {
  left: 0px;
}
.next {
  right: 0px;
}
.bullet {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  /*margin-left: -38px;*/
}
.bullet > li {
  width: 32px;
  height: 8px;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
}
.bullet li.active {
  background-color: #000;
}
.arrow:hover {
  opacity: 1;
}
.about-order li {
  /* display: none; */
  opacity: 0;
}
.item {
  text-align: center;
  width: 270px;
  position: absolute;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 5px;
  opacity: 0;
  transition: all 1s;
}
/* .portfolio .container {
  position: relative;

} */
.portfolio-ct {
  position: relative;
}
