<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>输入框布局</title>
</head>
<style>
	
	.InputAddOn {
	  	display: flex;
	}

	.InputAddOn-field {
	  	flex: 0 0 12em;
	}
	.InputAddOn-field2{
		flex: 1;
	}
</style>
<body>
	<div class="InputAddOn">
	  <span class="InputAddOn-item">name</span>
	  <input class="InputAddOn-field">
	  <button class="InputAddOn-item">go</button>
	</div>
	<body>
	<div class="InputAddOn">
	  <span class="InputAddOn-item">name</span>
	  <input class="InputAddOn-field2">
	  <button class="InputAddOn-item">go</button>
	</div>
</body>
</html>