
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1478320865'); /* IE9*/
  src: url('iconfont.eot?t=1478320865#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1478320865') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1478320865') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1478320865#iconfont') format('svg'); /* iOS 4.1- */
}

.m-icon {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.m-channel:before { content: "\e600"; color: #0a0a10;;padding-right: 8px;font-size: 20px;}
.m-fenxiang:before { content: "\e609"; }
.n-lyric:before { content: "\e60d"; }
.m-lyric:before { content: "\e60e"; }
.m-play:before { content: "\e60a"; }
.m-pause:before { content: "\e60c"; }
.m-xiangmu:before { content: "\e602"; }
.m-heart:before { content: "\e60b"; }
.m-xunhuan:before { content: "\e60f"; }
.m-danquxunhuan:before { content: "\e604"; }
.m-pre:before { content: "\e606"; }
.m-next:before { content: "\e607"; }
.m-volume:before { content: "\e601"; }